/*

!/.github
!/static
!/styles
!/templates
!/scripts
!/mod

!/*rc
!/*ignore
!/*.md
!/.dprint.json
!/importmap.json
!/makefile
!/.gitmodules

!/images
/images/*
!/images/*.jpg
!/images/*.png
!/images/*.svg
